<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C748YGZD2Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-C748YGZD2Y');
    </script>
    <meta charset="UTF-8">
    <title>{{ page.title | default: "Bello Muhammad Abdullahi - Economist" }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome! This website provides a CV and research papers of Bello Muhammad Abdullahi, Economist and PhD Student at Lancaster University."/>
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  
  <body>
    <div class="wrapper">
      
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Bello Muhammad Abdullahi</a></h1>
        <img src="{{ site.logo | relative_url }}" alt="Profile Photo" style="width:200px; border-radius:50%; margin-bottom:15px;" />
        
        <p><strong>PhD Economics Student</strong><br>Lancaster University</p>
        
        <p>
          <b>E-mail</b>:<br>b.abdullahi [at] lancaster.ac.uk<br><br>
          <b>Links</b>:<br>
          <a href="https://www.lancaster.ac.uk/lums/our-departments/economics/people/bello-abdullahi" target="_blank">Lancaster Website</a><br>
          <a href="https://twitter.com/Muhammad_Bell0" target="_blank">Twitter</a><br>
          <a href="https://scholar.google.com/citations?user=FONaAoAAAAAJ&hl=en" target="_blank">Google Scholar</a><br>
          <a href="https://orcid.org/0000-0001-5075-1812" target="_blank">ORCID</a>
        </p>
      </header>
      
      <section>
        <nav style="margin-bottom: 30px; padding-bottom: 15px; border-bottom: 1px solid #ddd; font-weight: bold;">
          <a href="{{ "/" | relative_url }}">About</a> | 
          <a href="{{ "/cv.html" | relative_url }}">CV</a> | 
          <a href="{{ "/research.html" | relative_url }}">Research</a> | 
          <a href="{{ "/teaching.html" | relative_url }}">Teaching</a> | 
          <a href="{{ "/public-goods.html" | relative_url }}">Public Goods</a>
        </nav>

        {{ content }}
      </section>
      
    </div>
  </body>
</html>
